* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  font-family: 'Lexend Deca', sans-serif;
  font-family: 'Red Hat Display', sans-serif;
}
:root { 
  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue : hsl(244, 38%, 16%);
  --Soft-violet : hsl(277, 64%, 61%);
  --Soft-violet-transparent : hsl(277, 64%, 61%, 0.7);
  --White: hsl(0, 0%, 100%);
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white : hsla(0, 0%, 100%, 0.6);
}
.container {
  width: 100%;
  height: 100vh;
  display: grid; /* con estas 2 propiedades centramos nuestro contenido */
  place-items: center;
}
.main { 
  display: flex;
  flex-direction: column;
  width: 375px;   /* Este es el width que nos pidieron */
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: var(--Very-dark-blue);
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.header img { 
  width: 90%;
  height: 250px;
  border-radius: 20px 20px 0 0;
}
.header .header-overlay { 
  position: absolute;
  width: 90%;
  height: 250px;
  background: var(--Soft-violet-transparent);
  border-radius: 20px 20px 0 0;
}
.main-section { 
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--Dark-desaturated-blue);
  font-size: 1.5rem;
  border-radius: 0 0 20px 20px;
}
.main-section h1 p { 

  font-weight: 700;
  margin-top: 1.2rem;
  color: var(--White);
}
.main-section h1 p strong { 
  color: var(--Soft-violet);
}